.quiz_container_1 {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4DF0;
    border-radius: 10px;
}



.quiz_container_2 {
    min-width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quiz_question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-family: Arial;
    max-width: 90%;
    font-size: 3em;
    background-color: blue; 
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.answer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
 
}

.quiz_answer {
 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 2;
    
    
}

.answer_button {
    box-sizing: border-box;
    background-color: #045DED;
    width: 50%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 2vw;
    /* animation: slideup 0.5s linear forwards;    */
    text-transform: uppercase;
    border: 3px solid black;
}





.answer_button_animation_0 {
    animation-delay: 0.3s;
}

.answer_button_animation_1 {
    animation-delay: 0.4s;
}

.answer_button_animation_2 {
    animation-delay: 0.5s;
}

.answer_button_animation_3 {
    animation-delay: 0.6s;
}

@keyframes slideup {
    from {
        opacity: 1;
       transform: translateY(50px)
    }
    to {
       opacity: 1;
       transform: translateY(0px)
    }
}



.incorrect_answer {
    animation: incorrect 2s linear;

}

.correct_answer {
    background-color: black;
    animation: correct 2s linear;
}

@keyframes incorrect {
    0% {color: white;}
    50% {color: red;}
}



@keyframes incorrect {
    0% {color: white;}
    50% {color: red;}
}